html,
body {
    background-color: #9AA97B;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas: una para los textos y otra para las imágenes */
    grid-template-rows: auto;
    /* Se ajusta automáticamente al contenido */
    grid-gap: 20px;
    /* Espacio entre columnas y filas */
    padding: 20px;
}

.div1,
.div2,
.div3,
.img-div1,
.img-div2,
.img-div3 {
    background-color: #FAF3E0;
    padding: 20px;
    border-radius: 10px;
    padding-left: 10px;
}

.div1 {
    grid-column: 1 / 2;
    /* Primera columna */
}

.img-div1 {
    grid-column: 2 / 3;
    /* Segunda columna */
}

.div2 {
    grid-column: 1 / 2;
    /* Primera columna */
}

.img-div2 {
    grid-column: 2 / 3;
    /* Segunda columna */
}

.div3 {
    grid-column: 1 / 2;
    /* Primera columna */
}

.img-div3 {
    grid-column: 2 / 3;
    /* Segunda columna */
}

h1 {
    color: #556B2F;
}

h2 {
    color: #1E2130;
    margin: 0;
    display: flex; /* Convierte el h2 en un contenedor flexible */
    justify-content: space-between; /* Distribuye el espacio entre el texto y el botón */
    align-items: center; /* Alinea verticalmente el contenido */
}

h4 {
    color: #C0A080;
    margin: 0;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agregar {
    display: inline-flex; /* Usamos inline-flex para que el botón se ajuste al contenido */
    align-items: center;  /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 8px; /* Ajusta el relleno según sea necesario */
    background-color: #9AA97B; /* Color de fondo del botón */
    border: 0; /* Elimina los bordes del botón */
    cursor: pointer; /* Cambia el cursor cuando se coloca sobre el botón */
    transition: all 0.3s; /* Agrega una transición suave al botón */
    border-radius: 25%;
}

.agregar .material-symbols-outlined {
    font-size: 24px; /* Ajusta el tamaño del ícono */
    color: #ffffff; /* Color del ícono */
}


.agregar:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #EEBE02;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

p {
    text-align: right;
}

@media (max-width: 1000px) {
    .parent {
        grid-template-columns: 1fr;
        /* Coloca todo en una columna en pantallas pequeñas */
    }

    .img-div1,
    .img-div2,
    .img-div3 {
        grid-column: 1 / 2;
        /* Acomoda las imágenes debajo de los textos */
    }
}