html,
body {
    background-color: #9AA97B;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas: una para los textos y otra para las imágenes */
    grid-template-rows: auto;
    /* Se ajusta automáticamente al contenido */
    grid-gap: 20px;
    /* Espacio entre columnas y filas */
    padding: 20px;
}

.div1,
.div2,
.div3,
.img-div1,
.img-div2,
.img-div3 {
    background-color: #FAF3E0;
    padding: 20px;
    border-radius: 10px;
}

.div1 {
    grid-column: 1 / 2;
    /* Primera columna */
}

.img-div1 {
    grid-column: 2 / 3;
    /* Segunda columna */
}

.div2 {
    grid-column: 1 / 2;
    /* Primera columna */
}

.img-div2 {
    grid-column: 2 / 3;
    /* Segunda columna */
}

.div3 {
    grid-column: 1 / 2;
    /* Primera columna */
}

.img-div3 {
    grid-column: 2 / 3;
    /* Segunda columna */
}

h1 {
    color: #556B2F;
}

h2 {
    color: #1E2130;
    margin: 0;
}

h4 {
    color: #C0A080;
    margin: 0;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agregar {
    background-color: #9AA97B;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    color: #fff;
    border: none;
    transition: transform 0.3s;
}

.agregar:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #EEBE02;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@media (max-width: 1000px) {
    .parent {
        grid-template-columns: 1fr;
        /* Coloca todo en una columna en pantallas pequeñas */
    }

    .img-div1,
    .img-div2,
    .img-div3 {
        grid-column: 1 / 2;
        /* Acomoda las imágenes debajo de los textos */
    }
}